*.o
*~

lib*/*.dll
bin*/*
*.exp
*.ilk
*.pdb
*.7z
*.exp
*.pro.user
debug.log
*.pro.user.*
/lib*_x*_*/gdp*
/lib*_x*_*/*.dll
*.obj
Makefile.*Release
Makefile.*Debug
/lib4_x86_msvc/ao.lib
/lib4_x86_msvc/bz2.lib
/lib4_x86_msvc/ebu.lib
/lib4_x86_msvc/giflib.lib
/lib4_x86_msvc/hunspell.lib
/lib4_x86_msvc/iconv.lib
/lib4_x86_msvc/jpeg.lib
/lib4_x86_msvc/lept.lib
/lib4_x86_msvc/lzma.lib
/lib4_x86_msvc/lzo2.lib
/lib4_x86_msvc/ogg.lib
/lib4_x86_msvc/opencc.lib
/lib4_x86_msvc/openjpeg.lib
/lib4_x86_msvc/png.lib
/lib4_x86_msvc/speex.lib
/lib4_x86_msvc/sqlite3.lib
/lib4_x86_msvc/tesseract4.lib
/lib4_x86_msvc/tiff.lib
/lib4_x86_msvc/vorbis.lib
/lib4_x86_msvc/vorbisfile.lib
/lib4_x86_msvc/webp.lib
/lib4_x86_msvc/xml2.lib
/lib4_x86_msvc/xslt.lib
/lib4_x86_msvc/z.lib
/lib4_x86_msvc/zstd.lib
/lib4_x86_msvc/GDCore.lib
/lib4_x86_msvc/GdHotkeys.lib
/lib4_x86_msvc/nwcfg.lib
/lib4_x86_msvc/nwxserial.lib
/lib4_x86_msvc/ocrscreen.lib
/lib4_x86_msvc/pugixml.lib
/lib5_x86_mingw/libao.a
/lib5_x86_mingw/libbz2.a
/lib5_x86_mingw/libebu.a
/lib5_x86_mingw/libgiflib.a
/lib5_x86_mingw/libhunspell.a
/lib5_x86_mingw/libiconv.a
/lib5_x86_mingw/libjpeg.a
/lib5_x86_mingw/liblept.a
/lib5_x86_mingw/liblzma.a
/lib5_x86_mingw/liblzo2.a
/lib5_x86_mingw/libnwcfg.a
/lib5_x86_mingw/libnwxserial.a
/lib5_x86_mingw/libogg.a
/lib5_x86_mingw/libopencc.a
/lib5_x86_mingw/libopenjpeg.a
/lib5_x86_mingw/libpng.a
/lib5_x86_mingw/libpugixml.a
/lib5_x86_mingw/libspeex.a
/lib5_x86_mingw/libsqlite3.a
/lib5_x86_mingw/libtesseract4.a
/lib5_x86_mingw/libtiff.a
/lib5_x86_mingw/libvorbis.a
/lib5_x86_mingw/libvorbisfile.a
/lib5_x86_mingw/libwebp.a
/lib5_x86_mingw/libxml2.a
/lib5_x86_mingw/libxslt.a
/lib5_x86_mingw/libz.a
/lib5_x86_mingw/libzstd.a
/lib5_x86_mingw/libGDCore.a
/lib5_x86_mingw/libGdHotkeys.a
/lib5_x86_mingw/libocrscreen.a
/lib5_x64_msvc/ao.lib
/lib5_x64_msvc/bz2.lib
/lib5_x64_msvc/ebu.lib
/lib5_x64_msvc/giflib.lib
/lib5_x64_msvc/hunspell.lib
/lib5_x64_msvc/iconv.lib
/lib5_x64_msvc/jpeg.lib
/lib5_x64_msvc/lept.lib
/lib5_x64_msvc/lzma.lib
/lib5_x64_msvc/lzo2.lib
/lib5_x64_msvc/nwcfg.lib
/lib5_x64_msvc/nwxserial.lib
/lib5_x64_msvc/ogg.lib
/lib5_x64_msvc/opencc.lib
/lib5_x64_msvc/openjpeg.lib
/lib5_x64_msvc/png.lib
/lib5_x64_msvc/pugixml.lib
/lib5_x64_msvc/speex.lib
/lib5_x64_msvc/sqlite3.lib
/lib5_x64_msvc/tiff.lib
/lib5_x64_msvc/vorbis.lib
/lib5_x64_msvc/vorbisfile.lib
/lib5_x64_msvc/webp.lib
/lib5_x64_msvc/xml2.lib
/lib5_x64_msvc/xslt.lib
/lib5_x64_msvc/z.lib
/lib5_x64_msvc/zstd.lib
/lib5_x64_msvc/tesseract4.lib
/lib5_x64_msvc/GDCore.lib
/lib5_x64_msvc/ocrscreen.lib
