*.o
*~

lib*/*.dll
bin*/*
*.exp
*.ilk
*.pdb
*.7z
*.exp
*.pro.user
debug.log
*.pro.user.*
/lib*_x*_*/gdp*
/lib*_x*_*/*.dll
*.obj
Makefile.*Release
Makefile.*Debug
/lib4_x86_msvc/ao.lib
/lib4_x86_msvc/bz2.lib
/lib4_x86_msvc/ebu.lib
/lib4_x86_msvc/giflib.lib
/lib4_x86_msvc/hunspell.lib
/lib4_x86_msvc/iconv.lib
/lib4_x86_msvc/jpeg.lib
/lib4_x86_msvc/lept.lib
/lib4_x86_msvc/lzma.lib
/lib4_x86_msvc/lzo2.lib
/lib4_x86_msvc/ogg.lib
/lib4_x86_msvc/opencc.lib
/lib4_x86_msvc/openjpeg.lib
/lib4_x86_msvc/png.lib
/lib4_x86_msvc/speex.lib
/lib4_x86_msvc/sqlite3.lib
/lib4_x86_msvc/tesseract4.lib
/lib4_x86_msvc/tiff.lib
/lib4_x86_msvc/vorbis.lib
/lib4_x86_msvc/vorbisfile.lib
/lib4_x86_msvc/webp.lib
/lib4_x86_msvc/xml2.lib
/lib4_x86_msvc/xslt.lib
/lib4_x86_msvc/z.lib
/lib4_x86_msvc/zstd.lib
